# Python Einf√ºhrung
## Tag 1
Das ist eine Markdownzeile *kursiv* **fett** ***fett-kursiv***
- Punkt 1
- Punkt 2
- Punkt 3

In [1]:
print ("Hello World")

Hello World

In [2]:
print ("something")
# ein Kommentar

something

In [3]:
name = "Lovelace"

In [4]:
print (name)

Lovelace

In [5]:
age  = 73

In [6]:
age

73

In [7]:
age
name

'Lovelace'

In [8]:
size = 1.7123

##### knows_math = True
print (knows_math)
likes-slacking = False
print (likes-slacking)

In [10]:
knows_math = True
print (knows_math)
likes_slacking = False
print (likes_slacking)

True
False

In [11]:
name

'Lovelace'

In [12]:
type (name)

str

In [13]:
type (age)

int

In [14]:
type (size)

float

In [15]:
5 + 5

10

In [16]:
age

73

In [17]:
age * 100

7300

In [18]:
name + name

'LovelaceLovelace'

In [19]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
size / age

0.023456164383561642

In [23]:
name + str (age)

'Lovelace73'

## Funktionen und Methoden nutzen

In [24]:
len (name)

8

In [25]:
name.upper()

'LOVELACE'

In [26]:
name_upper = name.upper ()

In [27]:
print (name)
print (name_upper)

Lovelace
LOVELACE

In [28]:
name.count ("e")

2

In [30]:
name.replace ("lace", " is everywhere")

'Love is everywhere'

##Listen und und Dictionaries

## Listen und Dictionaries

In [31]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [32]:
type (names)

list

In [33]:
names[2]

'Curie'

In [34]:
names[1]

'Darwin'

In [35]:
names[-1]

'Hawking'

In [36]:
names[0:2]

['Lovelace', 'Darwin']

In [37]:
names[:2]

['Lovelace', 'Darwin']

In [38]:
names[2:]

['Curie', 'Hawking']

In [42]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Hawking": [1942, 2018]}

In [40]:
type(authors_and_birth_years)

dict

In [43]:
authors_and_birth_years ["Darwin"]

1809

In [44]:
authors_and_birth_years ["Hawking"]

[1942, 2018]

In [45]:
authors_and_birth_years [-1]

KeyError: -1

In [47]:
authors_and_birth_years ["Hawking"] [-1]

2018

In [48]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

##Bedingte Anweisungen (Conditionals)

##Bedingte Anweisungen (Conditionals)

## Bedingte Anweisungen (Conditionals)

In [51]:
temp = 10
if temp > 15:
    print("It's warm")

In [50]:
temp > 15

True

In [52]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [53]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print ("It's cold")

It's warm

In [54]:
temps = [0, 10, 16, 22, 30]

In [63]:
for tem in temps:
    if tem <= 16:
        print ("It's cold")
    else:
        print ("It's warm")

It's cold
It's cold
It's cold
It's warm
It's warm